{% extends 'base.html' %}

{% block body %}
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="panel panel-success col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
		<div class="panel-heading">
			<label class="text-muted">Recuperar Contraseña</label>
		</div>
		<div class="panel-body">
			<div class="col-md-12 col-sm-12">
				<form method="POST" class="text-white" action="{% url 'restore_password' slug %}" role="form" validate>
					<!-- Inclusión de token csrf_token para evitar ataques de csrf -->
					{% csrf_token %}
					<div style="clear:both;"></div>

					<div class="form-group col-md-6 mx-auto ">
						{{ form.new_password1.label_tag }}
						<br />
						<!-- Renderizado por medio de tags de template con escape a caracteres para evitar inyecciones XSS -->
						{{ form.new_password1 }}
						{% if form.new_password1.errors %}
						<p class="text-danger">
							{% for error in form.new_password1.errors %}
							{{ error }}
							<!-- Renderizado por medio de tags de template con escape a caracteres para evitar inyecciones XSS -->
							{% endfor %}
						</p>
						{% endif %}
					</div>
					<div style="clear:both;"></div>

					<div class="form-group col-6 mx-auto">
						{{ form.new_password2.label_tag }}
						{{ form.new_password2 }}
						{% if form.new_password2.errors %}
						<p class="text-danger">
							{% for error in form.new_password2.errors %}
							{{ error }}
							<!-- Renderizado por medio de tags de template con escape a caracteres para evitar inyecciones XSS -->
							{% endfor %}
						</p>
						{% endif %}
					</div>
					{{ form.reset_hash.as_hidden }}
					{% if form.reset_hash.errors %}
					<p class="text-danger">
						{% for error in form.reset_hash.errors %}
						{{ error }}
						{% endfor %}
					</p>
					{% endif %}
					<div class="form-actions">
						<button type="submit" class="btn btn-success">Aceptar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var password = document.getElementById("id_new_password1")
		, confirm_password = document.getElementById("id_new_password2");

	function validatePassword() {
		if (password.value != confirm_password.value) {
			confirm_password.setCustomValidity("Contraseñas no coinciden");
		} else {
			confirm_password.setCustomValidity('');
		}
	}
	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>
{% endblock body %}