{% extends 'header.html' %}
{% load static %}
{% block content_admin %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
<script src="{% static 'js/sb-admin.min.js' %}"></script>
<div class="col-md-11 col-sm-11">
	<ul style="list-style-type: none;">
		<div class="panel panel-default">
			<div class="panel-heading"><label class="text-muted">Cambiar Contraseña</label></div>
			<div class="panel-body">
				<div class="col-md-10 col-sm-10">
					<form method="POST" action="{% url 'reset_password' %}" role="form" validate>
						{% csrf_token %}
						<div class="form-group col-md-6 col-sm-6 col-md-offset-3">
							{{ form.old_password.label_tag }}

							{% if form.old_password.field.required %}
							*
							{% endif %}
							<br />

							{{ form.old_password }}

							{% if form.old_password.errors %}
							<p class="text-danger">
								{% for error in form.old_password.errors %}
								{{ error }}
								{% endfor %}
							</p>
							{% endif %}
						</div>
						<div style="clear:both;"></div>

						<div class="form-group col-md-6 col-sm-6 col-md-offset-3">
							{{ form.new_password1.label_tag }}

							{% if form.new_password1.field.required %}
							*
							{% endif %}
							<br />

							{{ form.new_password1 }}

							{% if form.new_password1.errors %}
							<p class="text-danger">
								{% for error in form.new_password1.errors %}
								{{ error }}
								{% endfor %}
							</p>
							{% endif %}
						</div>
						<div style="clear:both;"></div>

						<div class="form-group col-md-6 col-sm-6 col-md-offset-3">
							{{ form.new_password2.label_tag }}

							{% if form.new_password2.field.required %}
							*
							{% endif %}
							<br />

							{{ form.new_password2 }}

							{% if form.new_password2.errors %}
							<p class="text-danger">
								{% for error in form.new_password2.errors %}
								{{ error }}
								{% endfor %}
							</p>
							{% endif %}
						</div>
						<div style="clear:both;"></div>
						<div class="form-actions">
							<button type="submit" class="btn btn-success">Aceptar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	$('#navigation li').removeClass('active');
	$('#nav-item-config').addClass('active');
</script>
{% endblock content_admin %}