{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">

    <div class="jumbotron">
      <p align="center">
        <img src="{% static 'img/passe.png' %}" alt="..." height="80" width="80">
      </p>
      <br>
      <br>
      <p align="center">
      <h3 style="color:#182958;" align="center"><i>Contraseña actualizada exitosamente.</i></h3>
      </p>
      <br>
      <br>
    </div>
    <div style="clear:both;"></div>

  </div>

</div>
</div>
{% endblock body %}