{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> PASSE </title>

	<style type="text/css">
		body {
			background: white;
			padding: 0rem 0.5rem;
		}

		.background {
			background: white;
		}

		h2 {
			color: black;
			font-weight: bold;
		}

		p {
			color: black;
			text-align: justify;
			font-weight: normal;
		}
	</style>
</head>

<body class="background" id="page-top">

	<p><span style="font-size: 16pt;"><strong>T&eacute;rminos y Condiciones de Uso para Passe</strong></span></p>
	<ol>
		<li><span style="font-size: 14pt;">Introducción:</span>
			<ul>
				<li>Bienvenido a Passe. Estos t&eacute;rminos y condiciones de uso ("T&eacute;rminos") regulan el acceso
					y uso de nuestra aplicación y servicios asociados. Al acceder o utilizar nuestra
					aplicación, usted acepta estar vinculado por estos T&eacute;rminos y nuestra Pol&iacute;tica
					de Privacidad.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Uso de la Aplicación:</span>
			<ul>
				<li>La aplicación proporciona la opción de poder entrar de forma más rápida
					a los sitios cerrados que cuentan con nuestro servicio, con una invitación de QR.</li>
				<li>Usted se compromete a utilizar nuestra aplicación solo para fines legales y de manera que no
					infrinja los derechos de, restrinja o inhiba el uso y disfrute de la aplicación por parte de
					cualquier tercero.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Privacidad y Protección de Datos</span>
			<ul>
				<li>Nos comprometemos a proteger la privacidad y seguridad de sus datos personales de acuerdo con la Ley
					Orgánica de Protección de Datos Personales de Ecuador y cualquier otra
					legislación aplicable.</li>
				<li>La recopilación, uso, almacenamiento y transferencia de sus datos personales se describen en
					nuestra Pol&iacute;tica de Privacidad.</li>
				<li>Información de la lista de contactos: Recopilamos información de la lista de contactos
					de su dispositivo para poder de forma rápida relacionar un contacto por medio del
					tel&eacute;fono que tiene registrado en el tel&eacute;fono. Solo se comparte el n&uacute;mero
					telefónico del contacto. Esta recopilación solo se realiza con su consentimiento
					expl&iacute;cito.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Propiedad Intelectual</span>
			<ul>
				<li>Todos los derechos de propiedad intelectual en la aplicación y el contenido proporcionado son
					propiedad de Elio Mart&iacute;nez o se utilizan bajo licencia y están protegidos por las
					leyes de derechos de autor de Ecuador y tratados internacionales.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Limitación de Responsabilidad</span>
			<ul>
				<li>En la medida máxima permitida por la ley aplicable, Elio Mart&iacute;nez no será
					responsable por cualquier p&eacute;rdida o daño que surja de su uso de la aplicación,
					incluidos, entre otros, daños directos, indirectos, incidentales o consecuentes.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Modificaciones a los T&eacute;rminos</span>
			<ul>
				<li>Nos reservamos el derecho de modificar estos T&eacute;rminos en cualquier momento. Su uso continuado
					de la aplicación despu&eacute;s de tales cambios constituye su aceptación de los
					nuevos T&eacute;rminos.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Ley Aplicable y Jurisdicción</span>
			<ul>
				<li>Estos T&eacute;rminos se regirán e interpretarán de acuerdo con las leyes de la
					Rep&uacute;blica del Ecuador. Cualquier disputa relacionada con estos T&eacute;rminos se
					someterá a la jurisdicción exclusiva de los tribunales de Ecuador.</li>
			</ul>
		</li>
		<li><span style="font-size: 14pt;">Contacto</span>
			<ul>
				<li>Si tiene preguntas sobre estos T&eacute;rminos, por favor contáctenos en info@passeapp.com.
				</li>
			</ul>
		</li>
	</ol>

</body>

</html>