<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
</head>
<body>
{% autoescape on %}
<br>
<h4 style="color: #2b2301;">Bienvenido {{customer}} a <span style="color: #39648f;">PASSE</span></h4>
<p style="color: #2b2301;">Haz solicitado una recuperación de contraseña.<br>Para seguir con el proceso por favor, haz clic en el siguiente link: </p>
<a style="text-decoration: none !important;" href="{{link_verificacion}}"><span style="background-color: #4485f5; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Recuperar Contraseña</span></a>
<br>
<p><br /> </p>
<hr style="color: #a9a9a9;" />
<p style="color: #a9a9a9;"><strong>TEAM</strong><br /><strong>PASSE</strong></p>

{% endautoescape %}
</body>
</html>
